{% extends 'base.html' %}

{% block content %}

{% load static %} 


<!-- Courses -->

<section id="feature">
         
    <div class="container">
         
         <div class="row">
              <div class="col-md-12 col-sm-12">
                   
             

              <div class="col-md-4 col-sm-4">
                   <div class="feature-thumb">
                      <h3>API Documentation:</h3>
                        <h3>Endpoints:</h3>
                       <h6 > <a href="{{ data_list.0.path_url}}" target="blank">{{ data_list.0.path_url}}</a></h6>
                       <h6 > {{ data_list.0.path_url_language}}</h6>
                       <h6>language name will be small letter</h6>
                    </div>
              </div>

             
         </div>
         </div>
    
    </div>
</section>



<section id="last">
     
      
 </section>


{% endblock content %}
